<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  .card.g-2.g-lg-3.px-2 {
    border: 2px solid grey;
    margin: 35px;
    box-shadow: 4px 1px 18px 4px;
    height: 452px;
}
img.card-img-top {
    width: 235px;
    border: 2px solid grey;
    margin: 17px;
    height: 232px;
}
</style>
<body>
  <div class="container">
    <%- include('./partials/nav.ejs')%>
    <div class="row container g-2 g-lg-3">
        <% for(let p of prods) {%>
  
        <div class="card g-2 g-lg-3 px-2" style="width: 18rem">
          <img class="card-img-top" src="<%= p.img%>" alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title"><%= p.name%></h5>
            <p class="card-text">₹ <%= p.price%></p>
            <p class="card-text"><%= p.description%></p>
            <a href="/updateproduct/<%=p._id %>" class="btn btn-primary"
              >Update</a
            >
            <a href="/deleteprod/<%=p._id %>" class="btn btn-primary">delete</a>
          </div>
        </div>
  
        <% } %>
      </div>
    </div>
  
</body>
</html>